@import '@/common/scss/_mixin.scss';


.card {
  width : 3.5rem;
  height : 6rem;

  margin-left: 0.1rem;
  margin-right : 0.1rem;

  perspective: 1000px;
  cursor : pointer;

  &.flipped .cardInner{
    transform: rotateY(180deg);
  }
}

@media (min-width:$Sm){
  .card {
    width : 4.66rem;
    height : 8rem;
  }
}

@media (min-width:$Md){
  .card {
    width : 6.72rem;
    height : 12rem;
  }
}


.cardInner {
  width : 100%;
  height : 100%;
  position : relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;
}

.front, 
.back {
  width : 100%;
  height : 100%;
  position : absolute;
  overflow : hidden;

  @include flex(center, center);
  border-radius : 8px;  
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.front {
  background-color: #bcf8ea;
  color : white;
  @include font(1.5rem, 500, white);
}

@media (min-width:$Md){
  .front {
    @include font(2.4rem, 500, white);
  }
}

.back {
  background-color: white;
  transform: rotateY(180deg);
}
