@import '@/common/scss/_mixin.scss';


.modalScreen {
  position : absolute;

  width : 100vw;
  height : 100vh;
  background-color: rgba(0, 0, 0, 0.49);

  @include flex(center, center);

  .content {
    width : 30rem;
    height : 15em;

    background-color: var(--mainColor);
    @include flex(center, center, column);

    .topLevelContainer{
      width : 100%;
      height : 100%;

      @include flex(center, center, column);
      gap : 1.5rem;

      .levelContainer {
        width : 100%;
        height : 8rem;
        @include flex($align:center, $direction:column);

        gap : 1.5rem;


        p {
          @include font(2.5rem, 900, rgb(147, 255, 255));
        }

        .arrowContainer {
          @include flex(center, center);
          gap : 1.5rem;

          .arrow {
            cursor : pointer;

            width : 2rem;
            height : 2rem;
          }

          .arrow:hover {
            color : white;
          }

          .level {
            @include font(2.2rem, 600);
            @include flex(center, center);
            line-height: 2rem;
          }
        }
      }





      button {
        width : 4rem;
        height : 2rem;
        background-color: black;
        @include font(1rem, 400, white)
      }
    }
  }
}
