@import '@/common/scss/_mixin.scss';

.gamePage {
  width : 100vw;
  height : 100vh;

  background-color: pink;

  .inner {
    width : 100%;
    height : 100%;
    @include flex(center, center, column);
  }
}