@import '@/common/scss/_mixin.scss';


#home {
  width : 90vw;
  height : 90vh;
  border : 10px double var(--mainColor);
  @include flex(center, center, column);
  gap : 4rem;

  .bannerImage {
    visibility: hidden;
    position : absolute;
    bottom : 4rem;
    right : 11rem;
    width : 23.52rem;
    height : 30rem;
  }

  .title {
    @include font(2.5rem, 800, var(--mainColor));
  }
  
  .btns {
    @include flex(center, center, column);
    gap : 0.5rem;
    width : 10rem;

    .logOutBtn {
      width : 100%;
      height : 4rem;
      border-radius: 10px;

      background-color: var(--accentColor);
      @include font(0.9rem, 600, white);
      @include flex(center, center);
      &.loading{
        pointer-events: none;
        background-color: rgb(165, 165, 165);
      }
    }
    
    .btn {      
      width : 100%;
      height : 4rem;
      border-radius: 10px;

      background-color: var(--mainColor);
      @include font(0.9rem, 600, white);
      @include flex(center, center);
      &.loading{
        pointer-events: none;
        background-color: rgb(165, 165, 165);
      }
    }

    span {
      font-weight: 600;
      color : rgb(0, 0, 0);
    }
  }
}

@media (min-width:$Md) {
  #home {
    .title {
      @include font(4rem, 800, var(--mainColor));
    }
  }
}

//화면 크기 1280px 이상에서만 보임
@media (min-width:$Two-xl){
  #home {
    .bannerImage{
      visibility: visible;
    }
  }
}