// layout 크기 값 정리
$PC-WIDTH: 1200px;
$HEADER-HEIGHT: 60px;
$MENUBAR-HEIGHT: 70px;

//break point prefix
$Xs: 480px;
$Sm: 640px;
$Md: 768px;
$Lg: 1024px;
$Xl: 1280px;
$Two-xl: 1536px;

// SUIT FONT-WEIGHT;
$Thin: 100;
$ExtraLight: 200;
$Light: 300;
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;
$ExtraBold: 800;
$Heavy: 900;


